/vendor/
.directory
.vscode
.DS_Store
/examples/simple/idp_metadata/*.xml
/examples/simple/sp.crt
/examples/simple/sp.key
/examples/docker/idp_metadata/*.xml
/examples/docker/sp.crt
/examples/docker/sp.key
/examples/docker/config.php
/examples/docker/spid-testenv2/*
.idea
